<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollectionSelections</key>
	<dict>
		<key>CE69909D-9AA9-4881-A94D-D06828A181CD</key>
		<array>
			<string>B4DF134F-A4FD-4016-8101-A6C1B3E49992</string>
		</array>
	</dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>4B201E0F-047A-4CF6-92A9-F35E7FE408FD</key>
		<dict>
			<key>BinderUUID</key>
			<string>4B201E0F-047A-4CF6-92A9-F35E7FE408FD</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>751 387 475 528 0 0 1920 1055 </string>
		</dict>
	</dict>
	<key>QuickRefFloatBehavior</key>
	<integer>2</integer>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {245, 789}}</string>
		<string>{{246, 0}, {1274, 789}}</string>
	</array>
	<key>binderWidth</key>
	<real>245</real>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>0F03752A-3B2E-4194-BE47-E3856033E458</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2B591B0E-6D0D-4752-A4FB-8B299CC76D08</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2ECA1AE8-4210-498A-B4C9-C1007256CC4F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4B201E0F-047A-4CF6-92A9-F35E7FE408FD</key>
		<dict>
			<key>DocID</key>
			<string>96D2247C-644F-4084-822A-CDDA3F59375C</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>61A4481F-D486-4D04-BDD2-AD4BC04FA2D4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>696741C5-24BB-429F-84CB-BEE2B345A2F8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7F7ED044-5556-410B-8ACD-3948A2D551C9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>96D2247C-644F-4084-822A-CDDA3F59375C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A72F0B81-2918-4206-8F54-2E899D93E2AE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B4DF134F-A4FD-4016-8101-A6C1B3E49992</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C07538D7-D899-4349-8754-BE9BE4F978E3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F29720AC-F793-4F9D-90BF-670D84537A00</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>0</integer>
	</array>
	<key>collectionsHeight</key>
	<real>111.5</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {245, 111.5}}</string>
		<string>{{0, 112.5}, {245, 649.5}}</string>
	</array>
	<key>editorSplitFrames</key>
	<array>
		<string>{{629, 0}, {628, 788}}</string>
	</array>
	<key>fullScreenBackgroundFade</key>
	<real>0.51747392926897318</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperWidth</key>
	<integer>1031</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {384, 779}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 464.66666666666669}, {620, 526}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>171 194 1520 817 0 0 1920 1055 </string>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>200</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>105</real>
		<key>sectionType</key>
		<real>121</real>
		<key>status</key>
		<real>132</real>
		<key>title</key>
		<real>188.5</real>
	</dict>
	<key>supportingDocumentEditor.qrSplitFrame</key>
	<array>
		<string>{{0, 0}, {700, 401.5}}</string>
		<string>{{0, 402.5}, {700, 401.5}}</string>
	</array>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.3799999999999999</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
